.title{
    text-align: center;
    background-color: blue;
    font-size: 100px;
}

img{
    height: 250px;
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
}
.login{
    text-align: center;
    font-size: 50px;

}
.form{
    background-color: blue;
    margin-left: 35%;
    margin-right: 35%;
    font-size: 25px;
    text-align: center;
}